<!--
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movie of movies;">
                    <td>{{movie.fname}}</td>
                    <td>{{movie.lname}}</td>
                    <td>{{movie.eMail}}</td>
                </tr>
            </tbody>
        </table>
        </div>
        <br> -->
        <app-obs></app-obs> 
        
            
        





    
